.content-wrapper {
  padding: min(3vw, 1.5rem * 0.85);
}
.controls {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: fit-content;
  gap: min(2vw, 2rem);
}
.controls ~ .controls {
  margin-top: 1.5rem;
}
.controls input,
.controls select {
  font-size: 0.75rem;
}
.button-wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1rem;
  width: fit-content;
  margin-top: 2rem;
}
.button-wrapper button {
  font-size: 0.8rem;
  padding: 0.1em 0.2em;
  cursor: pointer;
}
.button-wrapper button:hover {
  transform: scale(1.1);
}
table,
th,
td {
  position: relative;
  border: 1px solid black;
  background: white;
  color: black;
  height: fit-content;
  white-space: nowrap;
  text-align: left;
}
.small td {
  padding-inline: 0.2rem;
  font-size: 0.8rem;
}
.small th {
  padding-inline: 0.9rem;
  font-size: 0.85rem;
}
.big th {
  padding-inline: 0.3em;
  font-size: 0.8rem;
}
.big td {
  padding-inline: 0.3em;
  font-size: 0.7rem;
}
table {
  margin-block-start: 2.5rem;
}
tr:hover {
  background-color: #666;
}
.inputMode::before {
  content: attr(data-value);
  top: min(-300%, -2vw);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  color: white;
  white-space: nowrap;
}
.hardCap::before {
  content: "Hard Cap?";
  top: min(-70%, -1.3vw);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  color: white;
  white-space: nowrap;
  font-size: 0.7rem;
}
.timeDiffWrapper {
  flex-direction: column;
  gap: 0.3rem;
}
.timeDiffWrapper input {
  width: 20rem;
}
.simAllInputs {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 1rem;
}
.simAllInputs button:hover {
  cursor: pointer;
}
.saveDist {
  position: relative;
}
.saveDist::before {
  content: "Saved!";
  position: absolute;
  inset: 0;
  transition: opacity 500ms;
  color: white;
  font-size: 1rem;
  opacity: 0;
  top: -150%;
}
.saveDist.animate::before {
  opacity: 1;
}
textarea {
  resize: none;
  width: 6rem;
  height: 1.8em;
  padding: 0.2em;
  font-size: 0.7rem;
}
